.all {
    width: 100%;
    min-height: 100vh;
}

.text {
    color: hsl(var(--nextui-content4));
}

.grid {
    min-width: 93vw;

    display: grid;
    grid-gap: 5vw;

    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));

    margin-left: 5vw;

    padding: 0;
}

.column1 {
    grid-column: 1;
}

.column2 {
    grid-column: 2;
}

.column3 {
    grid-column: 3;
}

.column4 {
    grid-column: 4;
}

.column5 {
    grid-column: 5;
}

.column6 {
    grid-column: 6;
}

.column7 {
    grid-column: 7;
}

.timeEntries {
    display: grid;
    grid-gap: 0.75vw;
    /*grid-template-columns: [col1] minmax(0, 1fr) [col2] 0.025fr [col3] 0.2fr [col4] 0.025fr [col5] minmax(0, 1fr);*/
    grid-template-columns: [col1] minmax(0, 2fr) [col2] 0.025fr [col3] 0.2fr [col4] 0.025fr [col5] 0.7fr [col6] 0.025fr [col7] minmax(0, 1fr);

    width: fit-content;
}

.dividers {
    border-right: 1px solid #ccc;
}

.timeStuff {
    max-width: 46vw;

    text-align: center;
}

.trash {
    height: 32px;
}

.header > * {
    display: inline;
    margin-right: 0.5vw;
}

.button {
    background: none;
    border: none;
}

.iframe {
    display: none;
}

.formDelete {
    display: inline;
}