.text {
    color: var(--primary-color-dark)
}

.grid {
    width: 93vw;

    display: grid;
    grid-gap: 5vw;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));

    margin-left: 5vw;
    margin-right: 5vw;

    padding: 0;
}

.column1 {
    grid-column: 1;
}

.column2 {
    grid-column: 2;
}

.column3 {
    grid-column: 3;
}

.column4 {
    grid-column: 4;
}

.column5 {
    grid-column: 5;
}

.timeEntries {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: [col1] minmax(0, 1fr) [col2] 0.025fr [col3] 0.2fr [col4] 0.025fr [col5] minmax(0, 1fr);
    max-width: 46vw;
}

.dividers {
    border-right: 1px solid #ccc;
}

.timeStuff {
    max-width: 46vw;

    text-align: center;
}

.trash {
    height: 32px;
}

.header > * {
    display: inline;
    margin-right: 0.5vw;
}

.button {
    background: none;
    border: none;
}

.iframe {
    display: none;
}

.trueSubmit {
    display: none;
}
  
.form {
    display: grid;
    width: fit-content;
    grid-template-columns: 50% 50%;
    gap: 4%;
}

.form-input {
    grid-column: 1;
    width: 5vw;
}

.form-submit {
    grid-column: 2;
    width: 5vw;
}