.text {
    color: hsl(var(--nextui-content4));
}

.listItem {
    list-style-type: none;
}

.list {
    padding: 0
}

.button {
    background: none;
    border: none;
}

.trash {
    height: 32px;
}