.all {
  width: 100%;
}

.main {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 33% 33% 24%;
  gap: 2.25%;

  margin-left: 2.25%;
  margin-right: 2.25%;

  color: hsl(var(--nextui-content4));
}

.rowOne {
  grid-row: 1;
}

.rowTwo {
  grid-row: 2;
}

.columnOne {
  grid-column: 1;
}

.columnTwo {
  grid-column: 2;
}

.columnThree {
  grid-column: 3;
}

.header {
  color: hsl(var(--nextui-content4));
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
}