:root {
  --primary-color-dark: #1A545B;
  --secondary-color-dark: #87CEFA;
  --trinary-color-dark: #3C8C98;
  --primary-background-color-dark: #031926;
  --secondary-background-color-dark: #0E2F40;
  --trinary-background-color-dark: #384E5B;
}

body {
  background-color: var(--primary-background-color-dark);
}